/* 引入Tailwind的基础样式 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 测试自定义类 */
@layer components {
  .test-tailwind {
    @apply bg-blue-500 text-white p-4 rounded;
  }
}

/* 你可以在这里添加自定义的全局样式 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
